{% extends 'base_layout.html' %}

{% block content %}
<div class="box" style="min-width:100%">
    {% if user == article.author %}
    <div class="has-text-right">
        <a href="{% url 'blog:article_edit' article.pk %}" class="button is-info ">
            <ion-icon name="create-outline"></ion-icon>
        </a>
        <a href="{% url 'blog:article_delete' article.pk %}" class="button is-danger">
            <ion-icon name="trash-outline"></ion-icon>
        </a>
    </div>
    {% endif %}



    <div class="title has-text-dark has-text-centered">{{ article.title }}</div>
    <img src="{{ article.thumb.url }}" alt="" class="image is-centered" style="min-width: 100%; border-radius: 5px">
    <div class="subtitle has-text-dark has-text-centered">{{ article.text }}</div>
    {% if user not in article.likes.all and user not in article.dislikes.all %}
    <div class="columns">
        <div class="column is-1">
            <form action="{% url 'blog:article_like' article.pk %}" method="post" class="has-text-right">
                {% csrf_token %}
                <button type="submit" class="button">
                    <ion-icon name="thumbs-up-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_likes }}</span>
                </button>
            </form>
        </div>
        <div class="column is-1">
            <form action="{% url 'blog:article_dislike' article.pk %}" method="post" class="has-text-right">
                {% csrf_token %}
                <button type="submit" class="button">
                    <ion-icon name="thumbs-down-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_dislikes }}</span>
                </button>
            </form>
        </div>
    </div>
    {% endif %}


    {% if user in article.likes.all and user not in article.dislikes.all %}
    <div class="columns">
        <div class="column is-1">
            <form action="{% url 'blog:article_like' article.pk %}" method="post" class="has-text-right">
                {% csrf_token %}
                <button type="submit" class="button is-success">
                    <ion-icon name="thumbs-up-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_likes }}</span>
                </button>
            </form>
        </div>
        <div class="column is-1">
            <form action="{% url 'blog:article_dislike' article.pk %}" method="post" class="has-text-right">
                {% csrf_token %}
                <button type="submit" class="button">
                    <ion-icon name="thumbs-down-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_dislikes }}</span>
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if user not in article.likes.all and user in article.dislikes.all %}
    <div class="columns">
        <div class="column is-1">
            <form action="{% url 'blog:article_like' article.pk %}" method="post" class="has-text-right">
                {% csrf_token %}
                <button type="submit" class="button">
                    <ion-icon name="thumbs-up-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_likes }}</span>
                </button>
            </form>
        </div>
        <div class="column is-1">
            <form action="{% url 'blog:article_dislike' article.pk %}" method="post" class="has-text-right">
                {% csrf_token %}
                <button type="submit" class="button is-danger">
                    <ion-icon name="thumbs-down-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_dislikes }}</span>
                </button>
            </form>
        </div>
    </div>
    {% endif %}
    
    <div class="has-text-right">
        <a href="{% url 'blog:favorite' article.pk %}">
            <ion-icon size="large" name="bookmark-outline"></ion-icon>
        </a>
    </div>

    {% if not article.comment_set.all %}
    <div class="has-text-centered has-text-grey-light is-size-5 mx-3">
        Пока без коментариев. Будьте первым, чтобы оставить комментарий...
    </div>
    {% else %}
    <p class="has-text-centered is-size-3 mb-6">Коментарий</p>
    {% for comment in article.comment_set.all %}
    <article class="message is-info">

        <div class="message-header">
            {% if user == comment.user %}
            <p>Добавлено вами в {{ comment.date_added }}</p>
            {% else %}
            Добавлено {{ comment.user }} at {{ comment.date_added }}
            {% endif %}
            {% if user == comment.user %}
            <div class="has-text-right">
                <a href="{% url 'blog:edit_comment' comment.pk %}" class="button is-info" style="text-decoration: none">
                    <ion-icon name="create-outline"></ion-icon>
                </a>
                <a href="{% url 'blog:delete_comment' comment.pk %}" class="button is-info"
                    style="text-decoration: none">
                    <ion-icon name="trash-outline"></ion-icon>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="message-body">{{ comment.body }}</div>
    </article>
    {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="comment">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button is-success mt-3 is-fullwidth">Отправить</button>
    </form>


</div>

{% endblock %}