{% extends 'base_layout.html' %}

{% block content %}
   <form class="site-form has-background-light" method="post" enctype="multipart/form-data">
       <h2 class="title is-size-2 has-text-centered">Обновить статью</h2>
       {% csrf_token %}
       {{ form }}
       <div class="has-text-centered my-4">
           <button class="button is-success" type="submit">Отправить</button>
           <a href="{% url 'blog:article_edit' article.pk %}" class="button is-danger ">
               Назад
           </a>
       </div>
   </form>
{% endblock %}