{% extends 'base_layout.html'%}
{% block content %}
{% for article in articles %}
<div style="margin-left: 380px; margin-top: 10px; margin-bottom: 20px;">
    <a href="{% url 'blog:article_detail' article.pk %}">
        <div class="instagram-media ; is-centered" data-instgrm-captioned="" data-instgrm-permalink=""
            data-instgrm-version="12"
            style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 3px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <div style="padding:16px;"> <a
                    style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; ;"
                    target="_blank">
                    <div style=" display: flex; flex-direction: row; align-items: center;">
                        <figure class="image is-64x64 is-rounded">
                            <img class="is-rounded" src="{{ user.profile.profile_picture.url }}">
                        </figure>
                        <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                            <div class="title" style="height: 75px; left:50px;padding-right: 1o;padding-right: 260px;">
                                {{ article.author}}
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'blog:article_detail' article.pk %}">
                        <figure class="image">
                            <img src="{{article.thumb.url}}" alt="" id="user_post">
                        </figure>
                    </a>
            </div>
        </div>
    </a>
</div>

{% endfor %}
{% endblock %}