{% extends 'base_layout.html' %}

{% block content %}
</head>

<body>
  <main>
    <div class="post_story">
      <div class="posts">
        <!-- USER POSTS STARTS HERE -->
        {% for profile in profiles %}
        {% if user in profile.followers.all %}
        <div id="post">
          <div id="post_header" style="padding: 0 60px">
            <img src="{{profile.profile_picture.url}}" alt="" srcset="" />
            <a href="/profile/{{profile.id}}">
              <h4 id="post_user" style="font-weight: 900">
                {{profile.user}}
              </h4>
            </a>
          </div>

          <div class="lower">
            <a href="/follow/{{profile.id}}/{{username}}" class="text-center btn btn-light text-dark" id="like">
              unfollow
            </a>
          </div>
        </div>
        {% else %}
        <div id="post">
          <div id="post_header" style="padding: 0 60px">
            <img src="{{profile.profile_picture.url}}" alt="" srcset="" />
            <a href="/profile/{{profile.id}}">
              <h4 id="post_user" style="font-weight: 900">
                {{profile.user}}
              </h4>
            </a>
          </div>

          <div class="lower">
            <a href="/follow/{{profile.id}}/{{username}}" class="text-center btn btn-danger" id="like">
              Follow
            </a>
          </div>
        </div>
        {% endif %} 
        {% endfor %}
        <!-- USER POST ENDS HERE -->
      </div>
    </div>
  </main>
</body>

</html>
{% endblock %}