
.container-slide {
    max-width: 100% !important;
    height: 50vh;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;
}
.slider-img {
    width: 100%;
    height: 50vh;
    object-fit:cover;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}
.order {
    font-size: 30px;
    cursor: pointer;
    color: #333
}

.order:hover {
    color: dodgerblue;
}

.arrows {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
}

.arrows:hover {
    opacity: .6;
}
.sc1 {
    background-color: black ;
}