{% load static %}
{% load categories %}
{% load brands %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body class="body">
<section class="hero ">
    <div class="hero-head ">
        {% if user.is_authenticated %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'shop:home' %}">
                    <div class="title is-1 has-text-success " style="font-family: Aldhabi">MStore</div>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

            </div>


            <div class="navbar-menu">

                <div class="navbar-end">
                    <a href="{% url 'shop:cart' %}" class="navbar-item order">
                    <button class="button is-success">
                        <ion-icon name="cart-outline" class="mr-2"></ion-icon>
                        Корзина
                    </button>
                </a>
                    <span class="navbar-item">
                        <button class="button is-disabled">
                        Привет ! , <b class="mx-2">{{user}}</b>
                        </button>
                </span>
                    <span class="navbar-item">
                <a href="{% url 'users:sign_out' %}" class="button is-warning">Выйти</a>
                </span>
                </div>
        </nav>
    </div>
    <div class="hero">
        <div class="content">
            {{ category }}
        </div>
    </div>
    {% endif %}
    <div class="hero">
        {% block auth %}
        {% endblock %}

        {% block slider %}
        {% endblock %}
        <br>
        {% block content %}
        {% endblock %}
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1,
        infinite: true,
    });
</script>
</body>
</html>
