.site-form {
    padding: 20px;
    display: block;
    margin: 70px auto auto;
    width: 40%;
    border-radius: 10px;
}

.site-form label {
    color: black;
    font-size: 20px;
}

.helptext, .helptext.ul {
    margin: 0 auto 20px;
    color: grey;
    font-size: 15px;
    display: block;
}

.errorlist {
    padding: 10px;
    list-style: none;
    color: red;
}
.comment label[for="id_body"] {
    display: none;
}

#inpt{
    height: 40px;
    width: 460px;
    border-radius: 1px solid rgb(0, 50, 143);
    border-radius: 5px;
}
